---
layout: default
---

<div class="blog-index">
  {% for post in paginator.posts %}
    <article>
      <header>
        <h1 class="entry-title"><a href="{{ root_url }}{{ post.url }}">{% if site.titlecase %}{{ post.title | titlecase }}{% else %}{{ post.title }}{% endif %}</a></h1>
        <p class="meta">
          <span class="glyphicon glyphicon-calendar"></span> {{ post.date | date: site.date_format_short }}
        </p>
      </header>

      <div class="entry-content">{{ post.excerpt }}</div>

      {% capture continuation %}{{ post | has_continuation }}{% endcapture %}
      {% if continuation == 'true' %}
      <footer>
        <a rel="full-article" href="{{ root_url }}{{ post.url }}">Read on &#8594;</a>
      </footer>
      {% endif %}
    </article>
  {% endfor %}

  <div class="pagination">
    {% if paginator.next_page %}
      <a class="prev basic-alignment left" href="{{paginator.next_page_path}}">&larr; Older</a>
    {% endif %}

    {% if paginator.previous_page %}
      <a class="next basic-alignment right" href="{{paginator.previous_page_path}}">Newer &rarr;</a>
    {% endif %}

    <a class="basic-alignment center center-text" href="/archive.html">Blog Archives</a>
  </div>
</div>

{% include sidebar.html %}
