$sidebar-bg: white;
$sidebar-border: black;

$nav-border: black;
$nav-border-left: transparent;
$nav-border-right: transparent;
$nav-border-top: black;
$nav-border-bottom: black;
$nav-bg: white;
$nav-color: black;
$nav-color-hover: black;